<h1 class="text-center mt-4">My Bookings</h1>

<% if @bookings.any? %>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-6 mb-4">
        <div class="card p-3">
          <h5><%= booking.offer.title %></h5>
          <p>From: <%= booking.start_date %></p>
          <p>To: <%= booking.end_date %></p>
          <p>Guests: <%= booking.number_of_guests %></p>
          <p>Address: <%= booking.offer.address %></p>
          <%= form_with url: booking_path(booking), method: :delete, local: true, html: { onsubmit: "return confirm('Are you sure you want to delete this booking?');" } do %>
            <%= submit_tag "Delete booking", class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="text-center mt-5">You haven't booked anything yet...</p>
<% end %>

<div class="container">
<%= link_to "Back to home page", root_path, class: "btn btn-danger text-white"  %>
</div>
